flows_DESKTOP-CEUVGOV.json
[{"id":"c98d7118.fc57c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f431aa14.e0dfd8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d2b6ddf2.e20b2","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8bf88771.c6d7b8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"48631763.5436d8","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":32.000000953674316,"y":76,"wires":[{"id":"885ecd6a.570f4"}]}],"out":[],"env":[{"name":"INPUT","type":"str","value":"EMPTY"}],"color":"#DDAA99"},{"id":"1e351cfc.eb4b03","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c61747a5.96c2f8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"951ec62e.2320c8","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"cd799022.d6301","type":"ui_link","name":"Link 3","icon":"open_in_browser","target":"newtab","order":3},{"id":"dbcdf0aa.65873","type":"ui_group","z":"","name":"Default","tab":"c61747a5.96c2f8","disp":true,"width":"6","collapse":false},{"id":"9446653f.e4a048","type":"ui_group","name":"Group 2","tab":"c61747a5.96c2f8","order":2,"disp":true,"width":6},{"id":"82aeeb4f.9e13a8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"iHome","name":"iHome database"},{"id":"92eb8b95.c52f68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2adf2b10.7936b4","type":"ui_group","z":"","name":"Tab 3","tab":"c61747a5.96c2f8","disp":true,"width":"6","collapse":false},{"id":"2cf300e9.fc02c","type":"ui_button","z":"c98d7118.fc57c","name":"test button 1","group":"dbcdf0aa.65873","order":0,"width":"3","height":"3","passthru":false,"label":"button 1","tooltip":"test button 1","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":105.16667175292969,"y":50.333335876464844,"wires":[["d587dd9a.0ff12"]]},{"id":"4fe0af5d.84be","type":"ui_button","z":"c98d7118.fc57c","name":"","group":"dbcdf0aa.65873","order":1,"width":"6","height":"6","passthru":false,"label":"button 2","tooltip":"","color":"","bgcolor":"","icon":"alert","payload":"4","payloadType":"num","topic":"","x":97.16667175292969,"y":93.33334350585938,"wires":[["d587dd9a.0ff12"]]},{"id":"30c48300.4d552e","type":"ui_form","z":"c98d7118.fc57c","name":"","label":"","group":"9446653f.e4a048","order":0,"width":0,"height":0,"options":[{"label":"when","value":"when","type":"date","required":true,"rows":null},{"label":"what","value":"what","type":"text","required":true,"rows":null},{"label":"amount","value":"amount","type":"number","required":true,"rows":null}],"formValue":{"when":"","what":"","amount":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":412.1666793823242,"y":53.00001239776611,"wires":[["6981ee70.bfcda","fcde8586.780ce8"]]},{"id":"79c6cff0.92c2c","type":"ui_gauge","z":"c98d7118.fc57c","name":"","group":"2adf2b10.7936b4","order":3,"width":"3","height":"3","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":253.16668701171875,"y":56.66667175292969,"wires":[]},{"id":"723cdc77.0b2ee4","type":"ui_chart","z":"c98d7118.fc57c","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":256.16668701171875,"y":108.66667175292969,"wires":[[]]},{"id":"d587dd9a.0ff12","type":"ui_gauge","z":"c98d7118.fc57c","name":"","group":"dbcdf0aa.65873","order":4,"width":"5","height":"5","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":254.16668701171875,"y":152.6666717529297,"wires":[]},{"id":"c7013a14.beef68","type":"inject","z":"c98d7118.fc57c","name":"test","topic":"test","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":244.16668701171875,"y":218,"wires":[["d587dd9a.0ff12","671026d0.ab85c8"]]},{"id":"671026d0.ab85c8","type":"debug","z":"c98d7118.fc57c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":411.1666793823242,"y":410.0000057220459,"wires":[]},{"id":"50a20afb.99f384","type":"inject","z":"c98d7118.fc57c","name":"test 2","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":205.16668701171875,"y":272,"wires":[["d587dd9a.0ff12"]]},{"id":"bb519e15.b297f","type":"ui_button","z":"c98d7118.fc57c","name":"","group":"dbcdf0aa.65873","order":5,"width":"3","height":"3","passthru":false,"label":"button 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"8","payloadType":"num","topic":"","x":95.16667175292969,"y":132,"wires":[["d587dd9a.0ff12"]]},{"id":"629ce23f.6f93ac","type":"mongodb out","z":"c98d7118.fc57c","mongodb":"82aeeb4f.9e13a8","name":"","collection":"test","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":554.1666793823242,"y":250.00004959106445,"wires":[]},{"id":"fcde8586.780ce8","type":"debug","z":"c98d7118.fc57c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":682.1666831970215,"y":188.0000057220459,"wires":[]},{"id":"6981ee70.bfcda","type":"function","z":"c98d7118.fc57c","name":"Get payload","func":"return msg.payload;","outputs":1,"noerr":0,"x":621.1666831970215,"y":54.0000057220459,"wires":[["fcde8586.780ce8","629ce23f.6f93ac"]]},{"id":"b3e2022e.ad1c8","type":"status","z":"c98d7118.fc57c","name":"","scope":null,"x":138.66668701171875,"y":376.66668701171875,"wires":[[]]},{"id":"7cbb6bbe.a61714","type":"ui_toast","z":"c98d7118.fc57c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":171.66668701171875,"y":448.66668701171875,"wires":[]},{"id":"f545f16d.6904a","type":"ui_ui_control","z":"c98d7118.fc57c","name":"","events":"all","x":376.66668701171875,"y":452.66668701171875,"wires":[[]]},{"id":"5bc31209.54d9cc","type":"ui_audio","z":"c98d7118.fc57c","name":"","voice":"","always":"","x":453.66668701171875,"y":335.66668701171875,"wires":[]},{"id":"77e55b1e.18b584","type":"switch","z":"f431aa14.e0dfd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"gt","v":"100","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":235.66669082641602,"y":118.00000190734863,"wires":[["7ed59e5c.9883d"],["1d0e347.75f70cc"],["eda480c2.68366"],["27180171.cc176e"]]},{"id":"7ed59e5c.9883d","type":"change","z":"f431aa14.e0dfd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"aaa","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":456.6666793823242,"y":65.33334541320801,"wires":[["21a1b760.470e58"]]},{"id":"1d0e347.75f70cc","type":"change","z":"f431aa14.e0dfd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"bbb","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":472,"y":125,"wires":[["21a1b760.470e58"]]},{"id":"eda480c2.68366","type":"change","z":"f431aa14.e0dfd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ccc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":474,"y":186,"wires":[["21a1b760.470e58"]]},{"id":"21a1b760.470e58","type":"debug","z":"f431aa14.e0dfd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":664.6666870117188,"y":139.33334350585938,"wires":[]},{"id":"62ab8f4b.e3363","type":"inject","z":"f431aa14.e0dfd8","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":177.6666717529297,"y":34.66666924953461,"wires":[["77e55b1e.18b584"]]},{"id":"27180171.cc176e","type":"change","z":"f431aa14.e0dfd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OTHER","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":481.66666412353516,"y":247.3333339691162,"wires":[["21a1b760.470e58"]]},{"id":"a913b5a6.181088","type":"catch","z":"f431aa14.e0dfd8","name":"","scope":null,"uncaught":false,"x":177.33335494995117,"y":276.66667687892914,"wires":[[]]},{"id":"8add93.2a15a27","type":"catch","z":"f431aa14.e0dfd8","name":"","scope":null,"uncaught":false,"x":173.3333511352539,"y":324.6667060852051,"wires":[["21a1b760.470e58"]]},{"id":"555d5bfa.3370a4","type":"function","z":"f431aa14.e0dfd8","name":"","func":"switch(msg.payload)\n{\n    case 1:\n        node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n        break;\n        \n    case 2:\n        node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n        break;\n        \n    case 3:\n        node.status({text:\"Just text status\"});\n        break;\n        \n    case 4:\n        node.status({});\n        break;\n}","outputs":1,"noerr":0,"x":286.3333549499512,"y":395.66667687892914,"wires":[[]]},{"id":"a40815e4.1b6ac8","type":"inject","z":"f431aa14.e0dfd8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110.33333969116211,"y":389.66667687892914,"wires":[["555d5bfa.3370a4"]]},{"id":"accbb470.8f0668","type":"inject","z":"f431aa14.e0dfd8","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110.00000381469727,"y":439.6666679382324,"wires":[["555d5bfa.3370a4"]]},{"id":"412f020.3d5d3","type":"inject","z":"f431aa14.e0dfd8","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106,"y":488.6666564941406,"wires":[["555d5bfa.3370a4"]]},{"id":"74e3dfb9.00bb9","type":"inject","z":"f431aa14.e0dfd8","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":542.6666870117188,"wires":[["555d5bfa.3370a4"]]},{"id":"efe3eb3e.361608","type":"inject","z":"f431aa14.e0dfd8","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":114,"y":590.6666870117188,"wires":[["555d5bfa.3370a4"]]},{"id":"5f3cfdfd.1f9544","type":"status","z":"f431aa14.e0dfd8","name":"","scope":null,"x":428.66668701171875,"y":522.0000152587891,"wires":[["b6f1605f.f18c6"]]},{"id":"b6f1605f.f18c6","type":"debug","z":"f431aa14.e0dfd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":596.6666870117188,"y":510.00001525878906,"wires":[]},{"id":"5bd3091e.e44c08","type":"inject","z":"d2b6ddf2.e20b2","name":"","topic":"","payload":"[\"111\",2,3]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108.66669082641602,"y":37.33334541320801,"wires":[["48308afb.9ecad4"]]},{"id":"48308afb.9ecad4","type":"split","z":"d2b6ddf2.e20b2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":259,"y":38,"wires":[["ea055d87.41cac"]]},{"id":"ea055d87.41cac","type":"debug","z":"d2b6ddf2.e20b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":39,"wires":[]},{"id":"d6ee9ec0.9114d","type":"join","z":"d2b6ddf2.e20b2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":170,"wires":[["ea055d87.41cac"]]},{"id":"7f3880fd.83488","type":"inject","z":"d2b6ddf2.e20b2","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108,"y":142.00000381469727,"wires":[["d6ee9ec0.9114d"]]},{"id":"1359697b.509037","type":"inject","z":"d2b6ddf2.e20b2","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109,"y":184,"wires":[["d6ee9ec0.9114d"]]},{"id":"b9e0853d.b7f028","type":"inject","z":"d2b6ddf2.e20b2","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":225,"wires":[["d6ee9ec0.9114d"]]},{"id":"67668f1a.cedc4","type":"inject","z":"d2b6ddf2.e20b2","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":149,"y":295.00000762939453,"wires":[["7ae5d1f2.e9b25"]]},{"id":"7ae5d1f2.e9b25","type":"change","z":"d2b6ddf2.e20b2","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":347,"y":271,"wires":[["fe50a7c9.280bb8"]]},{"id":"fe50a7c9.280bb8","type":"change","z":"d2b6ddf2.e20b2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":317,"y":324,"wires":[["d6ee9ec0.9114d"]]},{"id":"16ac62e6.94788d","type":"debug","z":"48631763.5436d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":362.00000762939453,"y":80,"wires":[]},{"id":"420fda3a.3ef1b4","type":"subflow:48631763.5436d8","z":"8bf88771.c6d7b8","name":"","env":[{"name":"INPUT","value":"DDD","type":"str"}],"x":306.66667556762695,"y":311.00000762939453,"wires":[]},{"id":"885ecd6a.570f4","type":"change","z":"48631763.5436d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"${INPUT}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":169,"y":76,"wires":[["16ac62e6.94788d"]]},{"id":"b0184146.fc4ee","type":"inject","z":"8bf88771.c6d7b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":96.66667175292969,"y":91,"wires":[["420fda3a.3ef1b4","1bd736a8.acb799"]]},{"id":"1bd736a8.acb799","type":"subflow:48631763.5436d8","z":"8bf88771.c6d7b8","name":"","env":[{"name":"INPUT","value":"BBB","type":"str"}],"x":300,"y":142,"wires":[]}]